html {
  font-size: 20px;
}

.jumbotron > .lead > span::before {
  content: ' in ';
}

// Cards
.card {
  cursor: pointer;
}

.card-img-top {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

// Carousel container
.carousel-container {
  display: none;
  cursor: none;

  &.visible {
    display: block;
  }

  &.active {
    cursor: auto;
  }

  &.fullscreen {
    background: #000 !important;
    inset: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 5;

    > .carousel {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// Carousel controls
.carousel-indicators button,
.carousel-control-prev,
.carousel-control-next {
  visibility: hidden;
  cursor: none;
}

.carousel-control-prev,
.carousel-control-next {
  top: 4px !important;
  bottom: 4px !important;

  &.disabled {
    visibility: hidden !important;
  }
}

.active {
  .carousel-indicators button,
  .carousel-control-prev,
  .carousel-control-next {
    visibility: visible;
    cursor: pointer;
  }

  .exit-fullscreen {
    visibility: visible;
    cursor: pointer;
  }
}

// Captions
.caption.d-none {
  display: block !important;
}

// stylelint-disable-next-line selector-class-pattern
.autohideCaptions {
  .caption.d-none {
    display: none !important;
  }

  &.active .caption.d-none {
    display: block !important;
  }
}

.carousel-caption {
  h3 {
    font-size: 2em;
    text-shadow: 4px 4px 12px #333;
  }

  p {
    font-size: 1.2em;
    text-shadow: 2px 2px 6px #333;
  }
}

// Slide images
.carousel .img-fluid {
  width: 100%;
}

// New fade transition
.carousel-inner {
  .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
    transition: opacity 1s ease-in-out;

    &:first-of-type {
      position: relative;
    }
  }

  .active {
    opacity: 1;
  }
}

// Fullscreen exit button
.exit-fullscreen {
  cursor: none;
  color: #fff;
  font-size: 20px;
  opacity: 0.5;
  position: absolute;
  right: calc(7.5% - 8.75px);
  bottom: 3.556%;
  z-index: 20;
  filter: drop-shadow(0 0 1px #777);
  visibility: hidden;

  &:hover {
    opacity: 1;
  }
}

h1 img {
  max-width: 60.67px;
  margin-right: 10px;
}
